body {
  background: #fafafa;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  color: #00B7FF;
}

.w20 {
  width: 20%;
}

.w20+input {
  margin: 1px;
}

div.mgb5px {
  margin-bottom: 5px;
}

.heading-button {
  padding: 0;
  padding-left: 15px;
  height: 36px;
  line-height: 36px;
}

.center {
  margin: 10px auto;
}

#loginform {
  margin: 0 auto;
}

#remember {
  margin-right: 5px;
}
